<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - moment2</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <h1>Träningsdagbok - Moment 2</h1>
        <partial name="~/Views/Shared/_NavMenu.cshtml" /> <!--Menu added as partial-->
    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>
    <footer>
            &copy; Lina Petersson
     </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
