 <nav>
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Startsida</a> </li>
        <li ><a asp-controller="Home" asp-action="Workout">Träning</a></li>
        <li> <a asp-controller="Home" asp-action="Result">Resultat</a></li>
    </ul>
</nav>