/* General rules */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    width: 100%;
    min-height: 100vh;
}

.header-container {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    padding-left: 5%;
    background-color:darkcyan;
}

h1 {
    font-size: 4em;
}

nav {
    position: absolute;
    top: 3%;
    right: 0;
    width: 100%;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 2%;
    font-size: 1em;
}

nav a:hover {
    color: lightgray;
}

.container {
    width: 80%;
    min-height: 100vh;
    margin: auto;
    margin-top: 2%;
    background-color: white;
    padding: 5%;
    border-radius: 5px;
}

h2 {
    margin-bottom: 2%;
}

/* Index view */

.option-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: auto;
}

.option-container a {
    text-decoration: none;
    color: black;
}

.options {
    text-align: center;
    border: 1px solid black;
    width: 80%;
    margin: auto;
    padding-top: 5%;
    margin: 5%;
    border-radius: 5px;
    box-shadow: 1px 1px 3px dimgray;
}

.options:hover {
    background-color: #f4f3f3;
    color: #f4f3f3;
}

.options img {
    height: 100px;
    width: 100px;
    margin-bottom: 5%;
}

.options p {
    background-color: darkcyan;
    width: 100%;
    padding: 7%;
    margin-bottom: 0%;
}

.options p:hover {
    background-color: #0b8080;
}

h3 {
    margin-bottom: 1%;
    margin-top: 3%;
}

.goal input {
    margin-top: 1%;
    margin-bottom: 1%;
    height: 25px;
}

.btn {
    padding: 0% 2%;
    background-color: darkcyan;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 1px 1px 3px dimgray;
    cursor: pointer;
    height: 25px;
}

.btn:hover {
    color: #f4f3f3;
    background-color: #0b8080;
}

/* Workout view*/

.input, select {
    width: 300px;
    height: 25px;
}

span {
    color: darkred;
    margin-left: 10%;
}

/* Result view */
.workout-container {
    display: flex;
    flex-wrap: wrap;
}

article {
    border: 1px solid black;
    box-shadow: 1px 1px 3px dimgray;
    border-radius: 5px;
    padding: 0% 0% 3% 0%;
    width: 40%;
    margin: auto;
    margin-bottom: 3%;
}

article h3 {
    background-color: darkcyan;
    width: 100%;
    padding: 6%;
    margin-top: 0%;
}

h4, h5 {
    margin-left: 5%;
    margin-top: 5%;
}

article p {
    margin: 2% 0% 10% 5%;
}

.link {
    display: inline-block;
    color: darkcyan;
    text-decoration: underline;
    margin-top: 1%;
}

.link:hover {
    color: #0e6464;
}

/* Footer */

footer {
    background-color: darkcyan;
    margin-top: 2%;
    margin-bottom: 0%;
    padding: 2%;
    width: 100%;
}


/* Media queries */
@media (max-width: 1050px) {

    .logo {
        width: 150px;
        height: 150px;
    }

    .option-container a {
        font-size: 0.8em;
    }
}

@media (max-width: 780px) {

    h1 {
        font-size: 8vw;
    }

    .logo {
        width: 100px;
        height: 100px;
        margin: 10%;
    }

    nav {
        top: 1.5%;
    }

    .container {
        width: 95%;
    }

    .option-container {
        width: 100%;
    }

    article {
        width: 45%;
    }

@media (max-width: 570px) {

    .logo {
        width: 70px;
        height: 70px;
    }

    h1 {
        margin: 5%;
    }

    nav {
        top: 0.5%;
        font-size: 3vw;
    }

    .option-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        width: 80%;
    }

    .goal {
        text-align: center;
    }

    article {
        width: 80%;
    }

    footer {
        font-size: 3vw;
    }
}