@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h2>Välkommen</h2>
    <p>Välkommen till Träningsdagboken! Här kan du hålla kolla på dina avklarade träningspass</p>
    <div class="option-container">
        <a asp-controller="Home" asp-action="Workout" title="Lägg till träningspass">
            <div class="options">
                <img src="~/add.png" />
                <p>Lägg till avklarat träningspass</p>
            </div>
        </a>
        <a asp-controller="Home" asp-action="Result" title="Se avklarade passs">
            <div class="options">
                <img src="~/done.png" />
                <p>Se dina tränade pass</p>
            </div>
        </a>
    </div>
    <div class="goal">
        <h3>Sätt ditt träningsmål</h3>
        <form method="post">
            <label for="amount">Hur många gånger vill du träna?</label>
            <br />
            <input type="number" name="amount" />
            <input type="submit" value="Sätt mål" class="btn" />
        </form>
        <p>@ViewBag.sessionContent</p>
    </div>
</section>