@model moment2.Models.WorkoutModel;
@{
    ViewData["Title"] = "Workout";
}

<section class="workout">
    <h2>Lägg till träning</h2>
    <form method="post">
        <label asp-for="Type"></label>
        <br />
        <select asp-for="Type">
            <option value="Styrketräning">Styrketräning</option>
            <option value="Konditionsträning">Konditionsträning</option>
            <option value="Annat">Annat</option>
        </select>
        <span asp-validation-for="Type"></span>
        <br /><br />
        <label asp-for="Description"></label>
        <br />
        <input type="text" asp-for="Description" class="input" />
        <span asp-validation-for="Description"></span>
        <br /><br />
        <label asp-for="Duration"></label>
        <br />
        <input type="number" asp-for="Duration" class="input" /> minuter
        <span asp-validation-for="Duration"></span>
        <br /><br />
        <label asp-for="Date"></label>
        <br />
        <input type="date" asp-for="Date" class="input" />
        <span asp-validation-for="Date"></span>
        <br /><br />
        <label asp-for="Feel"></label>
        <br />
        <input type="radio" asp-for="Feel" value="Utmärkt" /> Utmärkt
        <input type="radio" asp-for="Feel" value="Bra" /> Bra
        <input type="radio" asp-for="Feel" value="Sådär" /> Sådär
        <input type="radio" asp-for="Feel" value="Inte bra alls" /> Inte bra alls
        <span asp-validation-for="Feel"></span>
        <br /><br />
        <input type="submit" value="Lägg till träning" class="btn" />
    </form>
</section>
